<div ng-controller="ClickToCallCtrl">
  <div class="row visible-sm visible-md visible-lg" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-md-12" style="padding: 5px; text-align: center" ng-show="desktop">
      <a class="zingayaButton zingaya3cd76f2c465e44d990bd18809b8e8d84" id="zingayaButton3cd76f2c465e44d990bd18809b8e8d84" href="https://zingaya.com/widget/3cd76f2c465e44d990bd18809b8e8d84" onclick="window.open(this.href+'?referrer='+escape(window.location.href)+'', '_blank', 'width=236,height=220,resizable=no,toolbar=no,menubar=no,location=no,status=no'); return false;"></a>
    </div>
    <div class="col-md-12" style="text-align: center" ng-show="desktop"><h2>Or</h2></div>
    <div class="col-md-12" style="padding: 5px; text-align: center;"><h1>Toll Free: 866-730-2071</h1></div>
  </div>

  <a href="tel:8667302071" class="visible-xs btn btn-success btn-large click-to-call-button"><i class="fa fa-phone"></i> Call us - Toll Free</a>
</div>